@use '../../global/colors.scss';

.offer {
    display: flex;
    width: 1172px;
    height: 511px;
    flex-shrink: 0;
    margin-bottom: 50px;
}

.offer-left-side {
    position: relative;
    width: 669px;
    height: 511px;
    flex-shrink: 0;
    margin-right: 17px;
}

.offer-left-side-text-position {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    position: absolute;
    top: 30px;
    left: 31px;

}

.offer-right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 486px;
    height: 511px;
    flex-shrink: 0;

}

.offer-right {
    position: relative;
    width: 486px;
    height: 247px;
    flex-shrink: 0;

}

.offer-text-btn {
    border: none;
    padding-left: 0;
    width: fit-content;
    background-color: transparent;

}