@use '../../global/colors';

.reviews {
    display: block;
    width: 1170px;
    height: 451px;
    flex-shrink: 0;
    text-align: center;

    // background-color: pink;
}

.reviews-img {
    display: inline-block;
    margin-top: -44px;
}

.reviews-place {
    display: inline-block;
    width: 816px;
    height: 312px;
    flex-shrink: 0;
    border-radius: 8px;
    background: colors.$gray4;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
    margin-top: 90px;
}

.reviews-text-place {
    margin-left: 125px;
    width: 556px;
    height: 96px;
}