.logo {
    display: block;
    width: 147px;
    height: 38.965px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-right: 120px;
}

.logo-image {
    width: 31.787px;
    height: 38.965px;
    flex-shrink: 0;
    margin-right: 5.21px;

}