@use '../../global/colors';

.feature {
    display: flex;
    width: 1172px;
    height: 58px;
    flex-shrink: 0;
    margin-bottom: 50px;
}

.feature-elements {
    width: 313px;
    height: 58px;
    flex-shrink: 0;
    display: flex;
}

.feature-image {
    width: 58px;
    height: 58px;
    flex-shrink: 0;
    margin-right: 15px;
}

.feature-info {
    width: 151px;
    height: 50px;
}