@use '../../../global/colors';

.input-group {
    display: flex;
    align-items: center;
    width: 582px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid colors.$green;
    margin-right: 173px;
    outline: none;
}