.footer {
    display: block;
    width: 1172px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.footer-top {
    display: flex;
    width: 1172px;

}

.footer-top-menu {
    display: block;
    margin-right: 180px;
    text-align: left;
}


.footer-link {
    display: block;
    text-decoration: none;
}

.footer-bottom {
    display: flex;
    width: 1172px;

}

.footer-bottom-descript {
    width: 318px;
    margin-right: 180px;
}

.footer-bottom-link {
    display: flex;
    width: 248px;
    justify-content: space-between;
    padding-top: 100px;
    margin-left: 200px;

}

.footer-link-2 {
    text-decoration: none;
}