.arcticles {
    display: block;
    width: 1172px;
    height: 1037px;
    flex-shrink: 0;
    text-align: center;
    margin-top: 50px;
    // background-color: seagreen;
}

.articles-product {
    display: block;
    width: 1172px;
    justify-content: space-between;
    margin-top: 50px;
}


.articles-product-top {
    display: flex;
    width: 1172px;
    justify-content: space-between;
    margin-bottom: 25px;
}


.articles-product-card {
    // position: relative;
    width: 570px;

}